
body, h1, h2, h3, h4, h6, p, ul, li, form {
    margin: 0;
    padding: 0;
}
body {
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}
header {
    text-align: center;
    margin-bottom: 30px;
    padding: 20px 0;
    background-color: #333;
    color: white;
}
header h1 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}
header p {
    font-size: 18px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

aside, main {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    column-width: auto;
}

.left, .right {
    background-color: #e0f7fa;
    
}

.center {
    background-color: #ffffff;
    text-align: center;
}

section h2 {
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 30px;
    padding: 20px 0;
    background-color: #333;
    color: white;
}

footer h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer p {
    font-size: 14px;
}

/* Tooth icons for bullet points */
#patients li {
    list-style: none; 
    position: relative; 
    padding-left: 20px; 
}

#patients li::before {
    content: '\f5c9';
    font-family: 'Font Awesome 5 Free'; 
    font-weight: 900; 
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); 
}

/* Phone icons for bullet points */
/* Call list */
#call-list {
    list-style: none; 
}

#call-list input, 
#call-list textarea, 
#call-list button {
    display: block; 
    width: 100%;
    padding: 5px; 
    margin-bottom: 10px; 
}

#call-list button {
    width: auto; 
    padding: 12px 20px; 
    margin-top: 10px; 
    cursor: pointer;
}

#call-list textarea {
    resize: vertical;
}

#call-list li {
    position: relative; 
    padding-left: 20px;
}

#call-list li::before {
    content: '\f095';
    font-family: 'Font Awesome 5 Free'; 
    font-weight: 900; 
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); 
}

/* Patient info */
#patient-info {
    display: block;
    width: 100%;
    width: 180px;
    margin-bottom: 20px;
    padding: 10px;

}

/*  Add Patient Profile form */
.patient-form {
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 20px;
    padding: 10px;
}

.patient-form label {
    display: block;
    margin-bottom: 5px;
}

.patient-form input, 
.patient-form textarea, 
.patient-form button {
    display: block; 
    width: 100%;
    padding: 5px; 
    margin-bottom: 10px; 
}

.patient-form button {
    width: auto; 
    padding: 12px 20px; 
    margin-top: 10px; 
    cursor: pointer;
}

.patient-form textarea {
    resize: vertical;
}

 /* Booking next appointment form */

.patient-appointment label {
    display: block;
    margin-top: 40px;
    margin-bottom: 5px;
}

.patient-appointment input, 
.patient-appointment textarea, 
.patient-appointment button {
    display: block; 
    width: 100%;
    padding: 5px; 
    margin-bottom: 10px;
}

.patient-appointment button {
    width: auto; 
    padding: 12px 20px; 
    margin-top: 10px; 
    cursor: pointer;
}

.patient-appointment textarea {
    resize: vertical;
}

